/* ------------------------------- componentes ------------------------------ */
/* --------------------------------- general -------------------------------- */
:root {
  --main--color: ;
  --footer--color:#363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, rgb(112, 94, 113) 0%, rgb(227, 195, 227) 60%, rgb(255, 252, 254) 100%);
}

.disclaimer {
  display: none;
}

/* ------------------------------- fin general ------------------------------ */
/* --------------------------------- header --------------------------------- */
.dropdown-item {
  color: black;
  transition: all 0.8s;
}

.dropdown-item:hover {
  transition: all 0.8s;
  background-color: pink;
  font-size: 18px;
}

.carrousel-container {
  background-color: linear-gradient(90deg, rgb(112, 94, 113) 0%, rgb(227, 195, 227) 60%, rgb(255, 252, 254) 100%);
}

.carrousel-container .navbar .container-fluid .collapse .navbar-nav .nav-item {
  transition: all 0.8s;
}

.carrousel-container .navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
  transition: all 0.8s;
  font-size: 18px;
}

form .boton-search {
  color: white;
  background-color: pink;
  border-radius: 10%;
  border: 1px solid palevioletred;
}

form .boton-search:hover {
  color: rgb(176, 120, 176);
  transition: all 0.8s;
}

/* ------------------------------- fin header ------------------------------- */
/* -----------------------------  Footer ----------------------------- */
.pie-pagina {
  width: 100%;
  background-color: rgba(226, 222, 222, 0.8705882353);
  margin-top: 50px;
  border-top: 4px solid palevioletred;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box h5 {
  color: black;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box h6 {
  color: black;
  margin-bottom: 10px;
}

.redes-sociales a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  text-align: center;
  color: black;
  transition: all 0.3s;
}

.redes-sociales a:hover {
  color: #d87093;
}

.pie-pagina .grupo-2 {
  background-color: palevioletred;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/* ------------------------------- fin Footer ------------------------------- */
/* ---------------------------------- index --------------------------------- */
/* ------------------------------ lollapallooza ----------------------------- */
.container-info {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../imgs/lollapalooza.png);
  color: #fff;
  height: 770px;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
}

.info-items p {
  margin-right: 40px;
}

/* ------------------------- container ult lanzamientos ------------------------- */
.container-info-2 {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../imgs/duki-noticia-web.png);
  color: #fff;
  height: 770px;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
  margin-top: 100px;
  margin-bottom: 200px;
}

.info-items-2 p {
  margin-right: 40px;
}

.info-items-2 a {
  text-decoration: none;
  color: #d87093;
}

.info-items-2 a:hover {
  transition: all 0.8s;
  color: deeppink;
}

/* ---------------------------- Section Container --------------------------- */
.container-categoria {
  background: linear-gradient(90deg, rgb(123, 63, 126) 0%, rgb(171, 127, 171) 60%, rgb(238, 193, 223) 100%);
}

.medio-categorias {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
  background: linear-gradient(90deg, rgb(123, 63, 126) 0%, rgb(171, 127, 171) 60%, rgb(238, 193, 223) 100%);
  padding-bottom: 110px;
  border-bottom: 3px solid palevioletred;
}

.medio-categorias a {
  text-decoration: none;
  list-style: none;
  color: black;
}

#h3-categoria {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 30px;
  border-top: 3px solid palevioletred;
  padding-top: 30px;
}

.nav-link2 {
  transition: all 0.3s;
}

.nav-link2:hover {
  background-color: rgb(224, 145, 171);
  border-radius: 10px;
  padding: 20px 15px;
}

/* -------------------------------- fin index ------------------------------- */
/* -------------------- seccion subscripcion | membresia -------------------- */
.titulo-subs {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.parrafo-subs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.parrafo-subs h4 {
  font-size: 20px;
}

.subs {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg, rgb(112, 94, 113) 0%, rgb(227, 195, 227) 60%, rgb(255, 252, 254) 100%);
}

.container-subs {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container-subs .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container-subs .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(90deg, rgb(112, 94, 113) 0%, rgb(227, 195, 227) 60%, rgb(255, 252, 254) 100%);
}

.container-subs form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(50% - 20px);
}

form .user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 3px;
  transition: all 0.8s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: palevioletred;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: rgb(219, 187, 227);
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d87093;
  background: rgb(219, 187, 227);
}

form input[type=radio] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: rgb(219, 187, 227);
}

form .button input:hover {
  background: linear-gradient(90deg, rgb(112, 94, 113) 0%, rgb(227, 195, 227) 60%, rgb(255, 252, 254) 100%);
}

@media (max-width: 584px) {
  .container {
    max-width: 700px;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender-details .category {
    width: 100%;
  }

  .container-subs form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
/* -------------------------------- fin subs -------------------------------- */
/* -------------------------------- artistas -------------------------------- */
.info-artistas {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* ---------------------------------- drake --------------------------------- */
.container-drake {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../imgs/drake-1.png);
  color: #fff;
  height: 770px;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
}

.info-drake a {
  font-size: 50px;
  text-align: center;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.8s;
}

.info-drake a:hover {
  color: rgb(218, 182, 116);
  transition: all 0.8s;
}

.info-drake p {
  font-size: 25px;
  text-align: center;
  margin: 0 10px;
}

/* -------------------------------- fin drake ------------------------------- */
/* --------------------------------- future --------------------------------- */
.container-future {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../imgs/future-1.jpeg);
  color: #fff;
  height: 770px;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
}

.info-future a {
  font-size: 50px;
  text-align: center;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.8s;
}

.info-future a:hover {
  color: rgb(218, 182, 116);
  transition: all 0.8s;
}

.info-future p {
  font-size: 25px;
  text-align: center;
  margin: 0 10px;
}

/* ------------------------------- fin future ------------------------------- */
/* --------------------------------- dababy --------------------------------- */
.container-dababy {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../imgs/dababy-new.jpeg);
  color: #fff;
  height: 770px;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
}

.info-dababy a {
  font-size: 50px;
  text-align: center;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.8s;
}

.info-dababy a:hover {
  color: rgb(218, 182, 116);
  transition: all 0.8s;
}

.info-dababy p {
  font-size: 25px;
  text-align: center;
  margin: 0 10px;
}

/* ------------------------------- fin dababy ------------------------------- */
/* ---------------------------------- kanye --------------------------------- */
.container-kanye {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url(../imgs/kanye-1.jpeg);
  color: #fff;
  height: 770px;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
}

.info-kanye a {
  font-size: 50px;
  text-align: center;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.8s;
}

.info-kanye a:hover {
  color: rgb(218, 182, 116);
  transition: all 0.8s;
}

.info-kanye p {
  font-size: 25px;
  text-align: center;
  margin: 0 10px;
}

/* -------------------------------- fin kanye ------------------------------- */
/* ------------------------------ fin artistas ------------------------------ */
/* ------------------------------- Conciertos ------------------------------- */
.titulo-principal-conciertos {
  display: flex;
  justify-content: center;
}

.contenedor-padre-conciertos {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}

.contenedor-hijo-conciertos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.banner-conciertos {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.banner-conciertos ul {
  list-style: none;
}

.banner-conciertos ul li {
  margin: 15px;
  font-weight: bold;
}

.banner-conciertos .boton-conciertos {
  background: #489ed8;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.banner-conciertos .boton-conciertos a {
  text-decoration: none;
  color: #000;
}

.banner-conciertos .boton-conciertos a:hover {
  color: #fff;
  transition: all 0.8s;
}

/* ----------------------------- fin Conciertos ----------------------------- */
/* -------------------------------- hit list -------------------------------- */
.card {
  color: #000;
  background-color: pink;
}

.card .textos {
  color: #fff;
}

.container-hits .card-body a.btn-primary {
  display: flex;
  justify-content: center;
  color: #000;
  background-color: #d87093;
  border: 1px solid black;
  transition: all 0.8s;
}

.container-hits .card-body a.btn-primary:hover {
  transition: all 0.8s;
  color: #fff;
  font-size: 18px;
}

/* ------------------------------- fin hitlist ------------------------------ */
/* ---------------------------------- base ---------------------------------- */
/* --------------------------------- listas --------------------------------- */
.footer-text {
  font-size: 36px;
  color: black;
}

.pie-pagina .grupo-1 .box h2 {
  font-size: 22px;
  color: black;
}

/* ---------------------------------- mapas --------------------------------- */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* --------------------------------- mixins --------------------------------- */
.grupo-2 .footer-text {
  font-family: Georgia;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

/*# sourceMappingURL=style.css.map */
