/* --------------------------------- general -------------------------------- */

:root{
    --main--color: ;
    --footer--color:#363636;
    }


    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        scroll-behavior: smooth;
    }
    
    body{
        background: linear-gradient(90deg, rgba(112,94,113,1) 0%, rgba(227,195,227,1) 60%, rgba(255,252,254,1) 100%);
    }


    .disclaimer {
        display: none;
    }

/* ------------------------------- fin general ------------------------------ */