    /* -------------------------------- hit list -------------------------------- */

    .card {
        color: #000;
        background-color: rgb(248, 225, 229);
        
    }
    
    .card .textos {
        color: #fff;
        
        
    }

    .container-hits .card-body a.btn-primary {
        display: flex;
        justify-content: center;
        color: #000;
        background-color: #edb0c5;
        border: 1px solid black;
        transition: all .8s;
    }

    .row {
        margin: 0;
    }

    .container-hits .card-body a.btn-primary:hover {
        transition: all .8s;
        color: #fff;
        font-size: 18px;
    }

/* ------------------------------- fin hitlist ------------------------------ */